<h1>Application :<%= @application.name %></h1>
  <% @approved_pets.each do |pet| %>
      <p>Approved Pets <%= pet.name %></p>
  <% end%>
  <% @rejected_pets.each do |pet| %>
      <p>Rejected Pet <%= pet.name %></p>
  <% end%>

<div class = 'applicant-pets'>
  <% @application.pets.each do |pet| %>
  <% if pet.open_applications? %>
      <%= link_to pet.name, "/pets/#{pet.id}" %>
      <%= button_to "Approve Pet", "/admin/applications/#{@application.id}", method: :patch, class: "approve-#{pet.id}", params: {pet_id: pet.id, approved: 'true'} %>
      <%= link_to pet.name, "/pets/#{pet.id}" %>
      <%= button_to "Reject Pet", "/admin/applications/#{@application.id}", method: :patch, class: "reject-#{pet.id}", params: {pet_id: pet.id, rejected: 'true'} %>
    <% end %>
  <% end %>
</div>
